<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Content/Images/icons/favicon.ico" />
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rocam Controle</title>
    @RenderSection("custom-css", required: false)

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded fixed-top">
        @Html.ActionLink("RocamERP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler-right navbar-toggler" data-target=".navbar-collapse" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <div class="navbar-nav ml-auto">
                @Html.ActionLink("Home", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Cheques", "Cheques", "Cheques", new { area = "" }, new { @class = "nav-item nav-link" })
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RocamERP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main-js")
    @RenderSection("scripts", required: false)
</body>
</html>
