@model RocamERP.Presentation.Web.ViewModels.ChequeViewModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group">
    @Html.LabelFor(model => model.BancoId, new { @class = "col-form-label" })

    <div class="col-12">
        <a href="#" id="pesquisaBancos" class="small">Pesquisar banco</a>
        @Html.Editor("bancosInput", new { htmlAttributes = new { @class = "form-control col-12", @id = "bancosInput", @placeholder = "Digite o nome do banco..." } })

        <div id="bancosTable"></div>
    </div>
</div>

@Html.HiddenFor(model => model.BancoId, new { id = "bancoId" })

<div class="form-group">
    @Html.LabelFor(model => model.Agencia, new { @class = "control-label col-form-label" })
    <div class="col-12">
        @Html.EditorFor(model => model.Agencia, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Agencia, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContaCorrente, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.EditorFor(model => model.ContaCorrente, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ContaCorrente, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.NumeroCheque, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.EditorFor(model => model.NumeroCheque, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NumeroCheque, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.PessoaId, new { @class = "col-form-label" })

    <div class="col-12">
        <a href="#" id="pesquisaPessoas" class="small">Pesquisar Pessoa</a>
        @Html.Editor("pessoasInput", new { htmlAttributes = new { @class = "form-control col-12", @id = "pessoasInput", @placeholder = "Digite o nome da pessoa..." } })

        <div id="pessoasTable"></div>
    </div>
</div>

@Html.HiddenFor(model => model.PessoaId, new { id = "pessoaId" })

<div class="form-group">
    @Html.LabelFor(model => model.Observacao, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.TextAreaFor(model => model.Observacao, new { @class = "form-control col-8", @rows = 10 })
        @Html.ValidationMessageFor(model => model.Observacao, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DataRecebimento, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.EditorFor(model => model.DataRecebimento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DataRecebimento, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DataVencimento, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.EditorFor(model => model.DataVencimento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DataVencimento, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DataPagamento, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.EditorFor(model => model.DataPagamento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DataPagamento, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SituacaoCheque, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.EnumDropDownListFor(model => model.SituacaoCheque, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SituacaoCheque, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Valor, new { @class = "col-form-label" })
    <div class="col-12">
        <div class="input-group">
            <span class="input-group-addon">R$</span>
            @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
    </div>
</div>

