@model RocamERP.Presentation.Web.ViewModels.ContatoViewModel


@Html.HiddenFor(model => model.ContatoId) 
@Html.HiddenFor(model => model.PessoaId, new { @value = ViewBag.PessoaId })

<div class="form-group">
    @Html.LabelFor(model => model.Observacao, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.TextAreaFor(model => model.Observacao, new { @class = "form-control col-8", @rows = "10" })
        @Html.ValidationMessageFor(model => model.Observacao, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TipoContato, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.DropDownListFor(model => model.TipoContato, Model.TipoContatoList, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoContato, "", new { @class = "text-danger" })
    </div>
</div>

