@model RocamERP.Presentation.Web.ViewModels.EnderecoViewModel

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<div class="form-group">
    @Html.LabelFor(model => model.Rua, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.TextBoxFor(model => model.Rua, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Numero, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.TextBoxFor(model => model.Numero, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Bairro, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Complemento, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.TextBoxFor(model => model.Complemento, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CEP, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.TextBoxFor(model => model.CEP, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TipoEndereco, new { @class = "col-form-label" })
    <div class="col-12">
        @Html.EnumDropDownListFor(model => model.TipoEndereco, Model.TipoEndereco, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoEndereco, "", new { @class = "text-danger" })
    </div>
</div>
