@model IEnumerable<RocamERP.Presentation.Web.ViewModels.BancoViewModel>

@{
    ViewBag.Title = "Bancos";
}

<h2>Bancos</h2>

<p>
    <span class="fa fa-plus text-primary"></span>
    @Html.ActionLink("Novo", "Create")
</p>

<div>
    @using (Html.BeginForm("Index", "Bancos", FormMethod.Get))
    {
        <div class="input-group">
            @Html.TextBox("prefix", null, new { @class = "form-control col-12", @placeholder = "Digite o nome do banco..." })
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </span>
        </div>
    }
</div>

@if (Model.Any()) { 
<table class="table">
    <thead class="reset-border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
                <td>
                    
                    @if (item.Cheques.Count > 0)
                    {
                        @Html.ActionLink($"{item.Cheques.Count} Cheques", "Index", "Cheques", new { @banco = item.Nome })
                    }
                    else
                    {
                        @Html.Raw("Nenhum cheque encontrado")
                    }
                </td>
                <td class="text-right">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Nome }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Nome })
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <div class="mt-5">
        @Html.Raw("Nada encontrado")
    </div>
}