@model IEnumerable<RocamERP.Presentation.Web.ViewModels.BancoViewModel>

@{
    ViewBag.Title = "Bancos";
}

<h2>Bancos</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <thead class="reset-border">
        <tr>
            <th>
                Nome
            </th>
            <th>
                Quantidade de Cheques
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nome
                </td>
                <td>
                    
                    @if (item.Cheques.Count > 0)
                    {
                        @Html.ActionLink($"{item.Cheques.Count} Cheques", "Index", "Cheques", new { @banco = item.Nome })
                    }
                    else
                    {
                       <p>
                           Nenhum cheque encontrado
                       </p>
                    }
                </td>
                <td class="text-right">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Nome }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Nome }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Nome })
                </td>
            </tr>
        }
    </tbody>
</table>
