@model IEnumerable<RocamERP.Presentation.Web.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            Inscrição Estadual
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ClienteId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ClienteId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ClienteId })
        </td>
    </tr>
}

</table>
