@model RocamERP.Presentation.Web.ViewModels.CidadeViewModels.DetailsCidadeViewModel

@{
    ViewBag.Title = $"Detalhes - {Model.CidadeViewModel.Nome}";
}

<h2>Detalhes</h2>
<h6>Detalhes sobre a cidade</h6>
<hr />

<div>
    <div>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.CidadeViewModel.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CidadeViewModel.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CidadeViewModel.EstadoId)
            </dt>
            <dd>
                @if (Model.CidadeViewModel.Estado != null)
                {
                    @Html.DisplayFor(model => model.CidadeViewModel.Estado.Nome)
                }
                else
                {
                    @Html.Raw("Não foi possível recuperar os dados.")
                }
            </dd>
        </dl>
    </div>

    <div class="mt-4">
        @if (Model.Enderecos.Any())
        {
            <h6><strong>Endereços/pessoas encontradas:</strong></h6>

            foreach (var group in Model.Enderecos)
            {
                <table class="table">
                    <thead class="reset-border">
                        <tr>
                            <th>
                                @Html.ActionLink($"{group.Key.Value}", "Details", "Pessoas", new { @id = group.Key.Key }, null)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var element in group)
                        {
                            <tr>
                                <td class="td-main">
                                    @Html.DisplayFor(model => element.Rua)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => element.Numero)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => element.Bairro)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => element.TipoEndereco)
                                </td>

                                <td class="text-right">
                                    @Html.ActionLink("Editar", "Edit", new { id = element.EnderecoId }) |
                                    @Html.ActionLink("Detalhes", "Details", new { id = element.EnderecoId }) |
                                    @Html.ActionLink("Excluir", "Delete", new { id = element.EnderecoId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            @Html.Raw("Sem endereços encontrados.")
        }
    </div>
</div>

<p class="pt-5">
    @Html.ActionLink("Editar", "Edit", new { id = Model.CidadeViewModel.CidadeId }) |
    @Html.ActionLink("Página Anterior", "Index")
</p>
