@model RocamERP.Presentation.Web.ViewModels.CidadeViewModel

@{
    ViewBag.Title = $"Detalhes - {Model.Nome}";
}

<h2>@Model.Nome</h2>
<h6>Detalhes sobre a cidade</h6>
<hr />

<div>
    @Html.DisplayForModel()
</div>

@if (Model.Enderecos.Any())
{
    <div>
        @Html.ActionLink($"{Model.Enderecos.Count().ToString()} endereços listados", "Index", "Enderecos", new { @cidade = Model.Nome, @prefix = "" }, null)
    </div>
}
else
{
    <p>
        Nenhum endereço listado. Clique @Html.ActionLink("aqui", "Create", "Enderecos") para adicionar.
    </p>
}

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Nome }) |
    @Html.ActionLink("Página Anterior", "Index")
</p>
