@model IEnumerable<RocamERP.Presentation.Web.ViewModels.CidadeViewModel>

@{
    ViewBag.Title = "Cidades";
}

<h2>Cidades</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lista de cidades
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoId)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Nome }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Nome }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Nome })
                </td>
            </tr>
        }
    </tbody>
</table>
