@model RocamERP.Presentation.Web.ViewModels.CidadeViewModels.IndexCidadeViewModel

@{
    ViewBag.Title = "Cidades";
}

<h2>Cidades</h2>
<p>
    <span class="fa fa-plus text-primary"></span>
    @Html.ActionLink("Novo", "Create")
</p>

<div>
    @using (Html.BeginForm("Index", "Cidades", FormMethod.Get))
    {
        <div class="form-group row">
            <div class="col-8 pr-0">
                @Html.TextBox("prefix", null, new { @class = "form-control col-12", @placeholder = "Digite o nome da cidade..." })
            </div>
            <div class="col-4 pl-1">
                <div class="input-group">
                    @Html.DropDownList("estadoId", Model.EstadosList, "Todos", new { @class = "form-control" })
                    <span class="input-group-btn pl-1">
                        <button class="btn btn-primary" type="submit">Pesquisar</button>
                    </span>
                </div>
            </div>
        </div>

        <div>
            @{
                if (Request.QueryString.Keys.Count > 0 && Request.QueryString.Get("hideEmptyPessoas") == "true")
                {
                    <input type="checkbox" name="hideEmptyPessoas" checked="checked" value="true" />
                }
                else
                {
                    <input type="checkbox" name="hideEmptyPessoas" value="true" />
                }
            }
            <span class="font-italic">Esconder cidades sem pessoas cadastradas </span>
        </div>
    }
</div>

@if (Model.Cidades.Any())
{
    <div class="mt-2">
        <span class="text-muted font-italic">
            @Html.Raw($"{Model.Cidades.Count()} cidades encontradas")
        </span>
    </div>

    <table class="table">
        <thead class="reset-border">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cidades.Single().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidades.Single().EstadoId)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cidades)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Estado.Nome)
                    </td>
                    <td>
                        @if (item.Enderecos.Any())
                        {
                            @Html.ActionLink($"{item.PessoasCidadeCount} pessoas encontradas", "Index", "Pessoas", new { cidadeId = item.CidadeId }, null)
                        }
                        else
                        {
                            @Html.Raw("Nenhuma pessoa encontrada")
                        }
                    </td>
                    <td class="text-right">
                        @Html.ActionLink("Editar", "Edit", new { id = item.CidadeId }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.CidadeId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5">
        @Html.Raw("Nada encontrado.")
    </div>
}
