@model RocamERP.Presentation.Web.ViewModels.EstadoViewModel

@{
    ViewBag.Title = $"Excluir - {Model.Nome}";
}

<h2>Excluir</h2>
<h6>Você tem certeza que deseja apagar esse dado?</h6>
<div>
    <hr />
    <div class="m-4">
        <h5 class="">@Model.Nome</h5>

        @if (Model.Cidades.Count() > 0)
        {
            <table class="table">
                <thead class="reset-border">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(c => c.Cidades.First().Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(c => c.Cidades)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cidade in Model.Cidades)
                    {
                        <tr>
                            <td>
                                @cidade.Nome
                            </td>
                            <td class="text-right">
                                Relacionado a @cidade.Enderecos.Count() endereços
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>
                Nenhuma cidade encontrada.
            </p>
        }


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group pt-2">
                <input type="submit" value="Excluir" class="btn btn-primary" />
            </div>
        }
    </div>

    @Html.ActionLink("Página Anterior", "Index")
</div>
