@model RocamERP.Presentation.Web.ViewModels.EstadoViewModel

@{
    ViewBag.Title = $"{Model.Nome} - Detalhes";
}

<h2>@Model.Nome</h2>

<div class="pb-4">
    @if (Model.Cidades.Count() > 0)
    {
        @Html.ActionLink($"{Model.Cidades.Count().ToString()} Cidades listadas", "Index", "Cidades", new { @estado = Model.Nome, @prefix = "" }, null);
    }
    else
    {
        <p>
            Nenhuma cidade listada. Clique @Html.ActionLink("aqui", "Create", "Cidades") para adicionar.
        </p>
    }
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Nome }) |
    @Html.ActionLink("Página anterior", "Index")
</p>