@model IEnumerable<RocamERP.Presentation.Web.ViewModels.EstadoViewModel>

@{
    ViewBag.Title = "Estados";
}

<h2>Estados</h2>

<div class="pt-3 pb-2 pt-0">
    @Html.Partial("PartialTemplates/SearchBar", null, new ViewDataDictionary
    {
        {
        "Action", "Index"
        },
        {
        "Controller", "Estados"
        },
        {
        "Parameter", "prefix"
        },
        {
        "Placeholder", "Digite o nome de um estado..."
        }
    })

    <div class="form-group">
        <div class="col-12">
            @Html.CheckBox("hideEmpty", false, new { @class = "d-inline mx-2" }) Esconder estados sem cidades cadastradas
        </div>
    </div>
</div>

<table class="table">
    <thead class="reset-border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estado in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => estado.Nome)
                </td>
                <td>
                    @if (estado.Cidades.Any())
                    {
                        @Html.ActionLink($"{estado.Cidades.Count()} Cidades listadas", "Index", "Cidades", new { @estado = estado.Nome }, null)
                    }
                    else
                    {
                        <span>
                            Nenhuma cidade encontrada
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
