@model IEnumerable<RocamERP.Presentation.Web.ViewModels.EstadoViewModel>

@{
    ViewBag.Title = "Estados";
}

<h2>Estados</h2>

<div>
    @using (Html.BeginForm("Index", "Estados", FormMethod.Get))
    {
        <div class="input-group">
            @Html.TextBox("prefix", null, new { @class = "form-control col-12", @placeholder = "Digite o nome do estado..." })
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </span>
        </div>

        <div>
            @{
                if (Request.QueryString.Keys.Count > 0 && Request.QueryString.Get("hideEmptyCidades") == "true")
                {
                    <input type="checkbox" name="hideEmptyCidades" checked="checked" value="true" />
                }
                else
                {
                    <input type="checkbox" name="hideEmptyCidades" value="true" />
                }
            }
            <span class="font-italic">Esconder estados sem cidades cadastradas</span>
        </div>
    }
</div>

@if (Model.Any())
{
    <div class="mt-2">
        <span class="text-muted font-italic">
            @Html.Raw($"{Model.Count()} estados encontrados")
        </span>
    </div>

    <table class="table">
        <thead class="reset-border">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estado in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => estado.Nome)
                    </td>
                    <td>
                        @if (estado.Cidades.Any())
                    {
                            @Html.ActionLink($"{estado.Cidades.Count()} Cidades listadas", "Index", "Cidades", new { @estadoId = estado.EstadoId }, null)
                        }
                        else
                        {
                            @Html.Raw("Nenhuma cidade encontrada");
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5">
        @Html.Raw("Nada encontrado.")
    </div>
}