@model IEnumerable<RocamERP.Presentation.Web.ViewModels.EstadoViewModel>

@{
    ViewBag.Title = "Estados";
}

<h2>Estados</h2>

<div class="pb-4 pt-4">
    @using (Html.BeginForm("Index", "Cheques", FormMethod.Get))
    {
        <div class="input-group">
            @Html.TextBox("prefix", null, new { @class = "form-control col-12", @placeholder = "Digite o número do cheque..." })
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </span>
        </div>
    }
</div>

@if (Model.Any()) { 
<table class="table">
    <thead class="reset-border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estado in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => estado.Nome)
                </td>
                <td>
                    @if (estado.Cidades.Any())
                    {
                        @Html.ActionLink($"{estado.Cidades.Count()} Cidades listadas", "Index", "Cidades", new { @estado = estado.Nome }, null)
                    }
                    else
                    {
                        @Html.Raw("Nenhuma cidade encontrada");
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <div class="mt-5">
        @Html.Raw("Nada encontrado")
    </div>
}