@model RocamERP.Presentation.Web.ViewModels.PessoaViewModels.PessoaViewModel

@{
    ViewBag.Title = $"{Model.Nome} - Detalhes";
}

<h2 class="pb-3">Detalhes</h2>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#basicInfo">
            Geral
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#chequesInfo">
            Cheques
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#enderecosInfo">
            Endereços
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#contatosInfo">
            Contatos
        </a>
    </li>
</ul>

<div class="tab-content height-1">
    
    
    <div class="tab-pane active" id="basicInfo" role="tabpanel"> 
        <div class="p-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Editar dados básicos", "Edit", new { id = Model.PessoaId })
        </div>
    </div>




    <div class="tab-pane" id="chequesInfo" role="tabpanel">
        
        <div class="p-5">
            @if (Model.Cheques.Any())
            {
            <table class="table">
                <thead class="reset-border">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Cheques.First().BancoId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Cheques.First().Agencia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Cheques.First().ContaCorrente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Cheques.First().NumeroCheque)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Cheques.First().Valor)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cheque in Model.Cheques)
                    {
                        <tr>
                            <td>
                                @if(cheque.Banco != null)
                                {
                                    @Html.DisplayFor(model => cheque.Banco.Nome)
                                }
                                else
                                {
                                    Html.Raw("Os dados não puderam ser recuperados.");
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(model => cheque.Agencia)
                            </td>
                            <td>
                                @Html.DisplayFor(model => cheque.ContaCorrente)
                            </td>
                            <td>
                                @Html.DisplayFor(model => cheque.NumeroCheque)
                            </td>
                            <td>
                                @Html.DisplayFor(model => cheque.Valor)
                            </td>

                            <td class="text-right">
                                @Html.ActionLink("Editar", "Edit", "Enderecos", new { id = cheque.ChequeId }, null) |
                                @Html.ActionLink("Detalhes", "Details", "Enderecos", new { id = cheque.ChequeId }, null) |
                                @Html.ActionLink("Excluir", "Delete", "Enderecos", new { id = cheque.ChequeId }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <p>
                    Nenhum cheque registrado.
                </p>

                @Html.ActionLink("Adicionar novo", "Create", "Cheques", new { @id = Model.PessoaId }, null)
            }
        </div>

    </div>
    <div class="tab-pane" id="enderecosInfo" role="tabpanel">

        <div class="p-5">
            @if (Model.Enderecos.Any())
            {
            <table class="table">
                <thead class="reset-border">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Enderecos.First().Rua)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Enderecos.First().Numero)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Enderecos.First().Bairro)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Enderecos.First().TipoEndereco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Enderecos.First().Cidade)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var endereco in Model.Enderecos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => endereco.Rua)
                            </td>
                            <td>
                                @Html.DisplayFor(model => endereco.Numero)
                            </td>
                            <td>
                                @Html.DisplayFor(model => endereco.Bairro)
                            </td>
                            <td>
                                @Html.DisplayFor(model => endereco.TipoEndereco)
                            </td>
                            <td>
                                @if(endereco.Cidade != null)
                                {
                                    @Html.ActionLink($"{endereco.Cidade.Nome}", "Details", "Cidades", new { @id = endereco.CidadeId }, null)
                                }
                                else
                                {
                                    @Html.Raw("Os dados não puderam ser recuperados.");
                                }
                            </td>
                            <td class="text-right">
                                @Html.ActionLink("Editar", "Edit", "Enderecos", new { id = endereco.EnderecoId }, null) |
                                @Html.ActionLink("Detalhes", "Details", "Enderecos", new { id = endereco.EnderecoId }, null) |
                                @Html.ActionLink("Excluir", "Delete", "Enderecos", new { id = endereco.EnderecoId }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <p>
                    Nenhum endereço registrado.
                </p>
            }

            @Html.ActionLink("Adicionar novo", "Create", "Enderecos", new { @id = Model.PessoaId }, null)
        </div>

    </div>
    <div class="tab-pane" id="contatosInfo" role="tabpanel">
        <div class="p-5">
            @if (Model.Contatos.Any())
            {
                <table class="table">
                    <thead class="reset-border">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(modelItem => modelItem.Contatos.Single().TipoContato)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem => modelItem.Contatos.Single().Informacao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem => modelItem.Contatos.Single().Observacao)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contato in Model.Contatos)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => contato.Informacao)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => contato.TipoContato)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => contato.Observacao)
                                </td>
                                <td class="text-right">
                                    @Html.ActionLink("Editar", "Edit", "Contatos", new { id = contato.PessoaId }, null) |
                                    @Html.ActionLink("Detalhes", "Details", "Contatos", new { id = contato.PessoaId }, null) |
                                    @Html.ActionLink("Excluir", "Delete", "Contatos", new { id = contato.PessoaId }, null)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>
                    Nenhum contato registrado.
                </p>
            }

            @Html.ActionLink("Adicionar novo", "Create", "Contatos", new { @id = Model.PessoaId }, null)
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Página Anterior", "Index")
</p>
