@model RocamERP.Presentation.Web.ViewModels.PessoaViewModels.IndexPessoaViewModel

@{
    ViewBag.Title = "Pessoas";
}

<h2>Pessoas</h2>

<p class="pb-0">
    <span class="fa fa-plus text-primary"></span>
    @Html.ActionLink("Novo", "Create")
</p>

<div>
    @using (Html.BeginForm("Index", "Pessoas", FormMethod.Get))
    {
        <div class="form-group row">
            <div class="col-8 pr-0">
                @Html.TextBox("prefix", null, new { @class = "form-control col-12", @placeholder = "Digite o nome da pessoa..." })
            </div>
            <div class="col-4 pl-1">
                <div class="input-group">
                    @Html.DropDownList("cidadeId", Model.CidadesList, "Todas", new { @class = "form-control" })
                    <span class="input-group-btn pl-1">
                        <button class="btn btn-primary" type="submit">Pesquisar</button>
                    </span>
                </div>
            </div>
        </div>

        <div>
            @{
                if (Request.QueryString.Keys.Count > 0 && Request.QueryString.Get("hideEmptyCheques") == "true")
                {
                    <input type="checkbox" name="hideEmptyCheques" checked="checked" value="true" />
                }
                else
                {
                    <input type="checkbox" name="hideEmptyCheques" value="true" />
                }
            }
            <span class="font-italic">Esconder pessoas sem cheques cadastrados</span>
        </div>
    }
</div>

@if (Model.Pessoas.Any())
{
    <div class="mt-2">
        <span class="text-muted font-italic">
            @Html.Raw($"{Model.Pessoas.Count()} pessoas encontradas")
        </span>
    </div>

    <table class="table">
        <thead class="reset-border">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pessoas.Single().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pessoas.Single().CadastroNacional.NumeroDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pessoas.Single().CadastroEstadual.NumeroDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pessoas.Single().Cheques)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pessoas.Single().Enderecos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pessoas.Single().Contatos)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pessoa in Model.Pessoas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => pessoa.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => pessoa.CadastroEstadual.NumeroDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(model => pessoa.CadastroNacional.NumeroDocumento)
                    </td>
                    <td>
                        @if (pessoa.Cheques.Any())
                        {
                            @Html.ActionLink($"{pessoa.Cheques.Count()}", "Index", "Cheques", new { @pessoaId = pessoa.PessoaId }, null)
                        }
                        else
                        {
                            @Html.Raw("Nenhum")
                        }
                    </td>
                    <td>
                        @if (pessoa.Enderecos.Any())
                        {
                            @Html.ActionLink($"{pessoa.Enderecos.Count()}", "Details", "Details", new { @pessoaId = pessoa.PessoaId }, null)
                        }
                        else
                        {
                            @Html.Raw("Nenhum")
                        }
                    </td>
                    <td>
                        @if (pessoa.Cheques.Any())
                        {
                            @Html.ActionLink($"{pessoa.Cheques.Count()}", "Index", "Cheques", new { @pessoaId = pessoa.PessoaId }, null)
                        }
                        else
                        {
                            @Html.Raw("Nenhum")
                        }
                    </td>
                    <td class="text-right">
                        @Html.ActionLink("Editar", "Edit", new { id = pessoa.PessoaId }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = pessoa.PessoaId }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = pessoa.PessoaId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5">
        @Html.Raw("Nada encontrado.")
    </div>
}
