@using RocamERP.Presentation.Web.Extensions;

@model IEnumerable<RocamERP.Presentation.Web.ViewModels.PessoaViewModel>

@{
    ViewBag.Title = "Pessoas";
}

<h2>Pessoas</h2>

<p class="pb-0">
    <span class="fa fa-plus text-primary"></span>
    @Html.ActionLink("Novo", "Create")
</p>

<div class="pb-4 pt-0">
    @using (Html.BeginForm("Index", "Pessoas", FormMethod.Get))
    {
        <div class="input-group">
            @Html.TextBox("prefix", null, new { @class = "form-control col-12", @placeholder = "Digite o nome da pessoa..." })
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </span>
        </div>

        <div>
            @{
                if (Request.QueryString.Keys.Count > 0 && Request.QueryString.Get("hideEmptyCheques") == "true")
                {
                    <input type="checkbox" name="hideEmptyCheques" checked="checked" value="true" />
                }
                else
                {
                    <input type="checkbox" name="hideEmptyCheques" value="true" />
                }
            }
            <span class="font-italic">Esconder clientes sem cheques cadastrados</span>
        </div>
    }
</div>

@if (Model.Any())
{
    <table class="table">
        <thead class="reset-border">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CadastroNacional.NumeroDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CadastroEstadual.NumeroDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cheques)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pessoa in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => pessoa.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => pessoa.CadastroEstadual.NumeroDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(model => pessoa.CadastroNacional.NumeroDocumento)
                    </td>
                    <td>
                        @if (pessoa.Cheques.Any())
                        {
                            @Html.ActionLink($"{pessoa.Cheques.Count()}", "Index", "Cheques", new { @pessoaId = pessoa.PessoaId }, null)
                        }
                        else
                        {
                            @Html.Raw("Nenhum")
                        }
                    </td>
                    <td class="text-right">
                        @Html.ActionLink("Editar", "Edit", new { id = pessoa.PessoaId }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = pessoa.PessoaId }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = pessoa.PessoaId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5">
        @Html.Raw("Nada encontrado")
    </div>
}
