@model RocamERP.Presentation.Web.ViewModels.EnderecoViewModel

@{
    ViewBag.Title = "Adicionar Endereço";
}

<h2>Novo</h2>
<h6>Adicionar novo endereço</h6>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div>
            @Html.HiddenFor(model => model.PessoaId)
            @Html.EditorForModel()
        </div>

        @Html.SubmitButton("Adicionar")
    </div>
}

<div>
    @Html.ActionLink("Página Anterior", "Details", "Pessoas", new { @id = Model.PessoaId }, null)
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")    
}