@model IEnumerable<RocamERP.Models.Banco>

@{
    ViewBag.Title = "Index";
}

<h2>Banco</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Create")
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th colspan="2">Lista de Bancos</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nome
                </td>
                <td class="text-right">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Nome }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Nome }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Nome })
                </td>
            </tr>
        }
    </tbody>
</table>