@model RocamERP.CrossCutting.Identity.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<h6>Use suas credenciais para acessar o sistema</h6>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-6">
                @Html.EditorForModel()
            </div>
            <div class="col-6">
                <p class="lead">
                    Ou use um dos provedores de identidade
                </p>

                <hr class="float-left w-50 mt-0 pt-0"/>
                
                <div class="clear">
                    @Html.Partial("_PartialViews/_loginProviders")
                </div>
            </div>
        </div>

        @Html.ActionLink("Esqueci minha senha", "ForgotPassword")

        @Html.SubmitButton("Entrar")
    </div>
}

<div>
    @Html.ActionLink("Página Anterior", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
