@model IEnumerable<RocamERP.Presentation.Web.ViewModels.ChequeViewModel>

@{
    ViewBag.Title = "Cheques";
}

<h2>Cheques</h2>

<p class="pb-0">
    <span class="fa fa-plus text-primary"></span>
    @Html.ActionLink("Novo", "Create")
</p>

<div class="pb-4 pt-0">
    @using (Html.BeginForm("Index", "Cheques", FormMethod.Get))
    {
        <div class="input-group">
            @Html.TextBox("prefix", null, new { @class = "form-control col-12", @placeholder = "Digite o número do cheque..." })
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </span>
        </div>
    }
</div>

@if (Model.Any())
{
<table class="table">
    <thead class="reset-border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BancoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCheque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRecebimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SituacaoCheque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.BancoId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NumeroCheque)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Pessoa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataRecebimento)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataVencimento)
                </td>
                <td>
                    @Html.DisplayFor(model => item.SituacaoCheque)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Valor)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ChequeId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ChequeId }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.ChequeId })
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <div class="mt-5">
        @Html.Raw("Nada encontrado")
    </div>
}
