@model IEnumerable<RocamERP.Presentation.Web.ViewModels.ChequeViewModel>

@{
    ViewBag.Title = "Cheques";
}

<h2>Cheques</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <thead class="reset-border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BancoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCheque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRecebimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.BancoId
                </td>
                <td>
                    @item.NumeroCheque
                </td>
                <td>
                    @item.Cliente.Nome
                </td>
                <td>
                    @item.DataRecebimento.ToShortDateString()
                </td>
                <td>
                    @item.DataVencimento.ToShortDateString()
                </td>
                <td>
                    @item.Valor.ToString("C2")
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ChequeId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ChequeId }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.ChequeId })
                </td>
            </tr>
        }
    </tbody>
</table>
